*{
    padding: 0;
    margin: 0;
}
/* footer样式 */
footer{
    width:100%;
    height: 500px;
    background-color: black;
     clear: both; 
}
footer .footer_outer{
    width: 1180px;
    /* height: 430px; */
    margin: 0 auto;
}
footer .footer_outer .footer_top{
    height: 60px;
    width: 1180px;
    border-bottom:1px solid white;
}
footer .footer_outer .footer_top .footer-left{
    width: 160px;
    height: 60px;
    float:left;
}
footer .footer_outer .footer_top .footer-left img{
   margin-top: 10px;
   line-height: 60px;
}
footer .footer_outer .footer_top .footer-right{
    width: 516px;
    height: 60px;
    line-height: 60px;
    margin-left: 650px;
    margin-right: 600px;
    color: white;  
}
footer .footer_outer .footer_top .footer-right ul li{
    float: left;
    list-style: none;
    margin-left: 20px;
    height: 60px;
    inline-size: 80px;
    padding-right: 1px;
}
footer .footer_outer .footer_top .footer-right ul li:hover{
    cursor: pointer;
}
footer .footer_outer .footer_center{
    height: 184px;
    width: 1180px;
    border-bottom:1px solid white;
    float: left;
    margin-top: 10px;
}
footer .footer_outer .footer_center .footer_center-left{
    color:gray;
    width: 680px;
    float: left;
    height: 184px;
}
footer .footer_outer .footer_center .footer_center-left p{
   padding-top: 15px;
   font-size: 14px;
}
footer .footer_outer .footer_center .footer_center-right{
    float: left;
    color:gray;
    margin-top: 20px;
    width: 500px;
    height: 140px;
}
footer .footer_outer .footer_center .footer_center-right .footer_center-right-1{
    float: left;
    margin-left: 100px;
    height: 140px;
}
footer .footer_outer .footer_center .footer_center-right .footer_center-right-1 img{
    height: 100px;
    width: 100px;
}
footer .footer_outer .footer_center .footer_center-right .footer_center-right-1 p{
    height: 30px;
    width: 100px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
}
footer .footer_outer .footer_bottom{
    height: 60px;
    clear: both;
    width: 1180px;
    color: gray;
    font-size: 10px;
}
footer .footer_outer .footer_bottom .footer_bottom_1{
    width: 1180px;
    height: 200px; 
    padding-top: 35px;
}
footer .footer_outer .footer_bottom .footer_bottom_1 h2{
    margin-bottom: 20px;
}
footer .footer_outer .footer_bottom .footer_bottom_1 span{
    margin-right: 50px;   
}
footer .footer_outer .footer_bottom .footer_bottom_1 p{
    padding-top: 20px;
    margin-top: 20px;
}
footer .footer_outer .footer_bottom .footer_bottom_1 img{
    padding-top: 8px;
    float: left;
}
footer .footer_outer .footer_bottom .footer_bottom_1 .aa{
    font-size: 14px;
    margin-top: 8px;
}