*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
.outer_center{
    width: 1349px;
    margin: 0 auto;
    overflow: hidden;
}
/* 第一部分 */

.article .article_top{
    width: 1349px;
    height: 54px;
    margin: 0 auto;
    border-top: 1px solid #e9e9e9;
}
.article .article_top .article_top_outer{
    width: 1180px;
    height: 54px;
    margin: 0 auto;
}
.article .article_top .article_top_outer .article_top_center{
    color: #888;
    width: 592px;
    height: 54px;
    line-height: 54px;
    font-size: 8px;
}

/* 第二部分 */
.article_body{
    width: 1180px;
    margin: 0 auto;
    margin-top: -20px;
}
.article_body li{
    list-style: none;

 }

/* 照片及简介 */
 .article_body li.article_body_pic{
     height: 166px;
     padding-bottom: 30px;
     margin-top: 30px;
     display: flex;
 }
.article_body li.article_body_pic>div:first-child img{
    height: 165px;
    width: 123px;
}
/* 右边框 */
 .article_body li.article_body_pic>div:last-child{
    height: 166px;
    width: 1040px;
    margin-left: 17px;
} 
 .article_body li.article_body_pic>div:last-child>div:first-child{
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
} 
 .article_body li.article_body_pic>div:last-child>div:first-child div.left{
    float: left;
    width: 400px;
    font-size: 12px;
    height: 100%;
    margin-left: 20px;
} 
   .article_body li.article_body_pic>div:last-child>div:first-child div.left span:first-child{
    font-size: 28px;
    color: #323942;
    border: none;
    height: 40px;
    line-height: 40px;
}   
  .article_body li.article_body_pic>div:last-child>div:first-child div.left span{
    width: 84px;
    height: 26px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    line-height: 26px;
    text-align: center;
    margin-right: 13px;
    color: #2370d3;
}  
 .article_body li.article_body_pic>div:last-child>div:first-child div.left span:last-child{
    color: #ffa100;
} 
 .article_body li.article_body_pic>div:last-child>div:first-child div.right{
    float: right;
    width: 235px;
    height: 40px;
    line-height: 40px;
} 
  .article_body li.article_body_pic>div:last-child>div:first-child div.right div{
    float: right;
    font-size: 13px;
    margin-left: 16px;
    border: 1px solid #b9b9b9;
}  
/* 重要 */
  .article_body li.article_body_pic>div:last-child>div:first-child div.right div:last-child{
    height: 50px;
    width: 80px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    margin-top:0px;

}  
 .article_body li.article_body_pic>div:last-child>div:first-child div.right div:last-child i{
    color: #b9b9b9;
    font-weight: bold;
    font-size: 14px;
} 
/* body第二行 */
 .article_body li.article_body_pic>div>div:nth-child(2) div,.article_body li.article_body_pic>div>div:nth-child(3) div{
    float: left;
    margin-left: 20px;
    height: 30px;
    width: 40%;
    line-height: 30px;
    font-size: 14px;
    margin-top: 5px;
    color: #292b33;
    font-size: 14px;
} 

/* 服务评分 */
.article_sec{
    width: 1349px;
    height: 88px;
    margin: 0 auto;
}
.article_sec .article_outer{
    width: 1180px;
    height: 88px;
    margin: 0 auto;
    display: flex;
}
.article_sec .article_outer .four{
    width: 230px;
    float: left;
    margin-right: 20px;
    background: #f8f8f8;
    padding: 14px 24px 11px 24px;
    position: relative;
}
.article_sec .article_outer .four p{
    font-size: 16px;
    color: #888;
     margin-bottom: 4px; 

}
.article_sec .article_outer .four b{
    margin-right: 4px;
    color: #fb5033;
    font-size: 28px;
  
}
.article_sec .article_outer .four span{
    font-size: 14px;
    margin-left: -6px;
}
.article_sec .article_outer .four img{
    margin-left: 120px;
    display: inline-block;
    margin-top: -100px;
}


 /* 第三部分精品房源  */
.article_third_outer{
    width: 1180px;
     height: 342px; 
    margin: 0 auto;
    margin-top: 20px;   
}
.article_third_outer .article_title{
    height: 70px;
    line-height: 70px;
}
.article_third_outer .article_title p:first-child{
    float: left;
    font-weight: bold;
    font-size: 26px;

}
.article_third_outer .article_title p:last-child{
    float: right;
    color: #888;
    font-size: 14px;
}
/* 第三行内部 每个房子详情模块*/
.article_third_outer .article_int{
    height: 272px;
    display: flex;
}
.article_third_outer .article_int>div{
    width: 280px;
    height: 272px;
    margin-right: 20px;
    /* background-color: red; */
}
/* 第一章 */
 .article_third_outer .article_int>div div:first-child{
    width: 280px;
    height: 188px;
    background-image: url(../images/1.jpg);
}  
.article_third_outer .article_int>div:nth-child(2) div:first-child{
    width: 280px;
    height: 188px;
    background-image: url(../images/13.jpg);
} 
.article_third_outer .article_int>div:nth-child(3) div:first-child{
    width: 280px;
    height: 188px;
    background-image: url(../images/12.jpg);
} 
.article_third_outer .article_int>div:nth-child(4) div:first-child{
    width: 280px;
    height: 188px;
    background-image: url(../images/14.jpg);
} 

.article_third_outer .article_int>div div:first-child div:first-child img{
        position: relative;
        left: 10px;
        top:130px;
}  
/* 最下面一行 */
  .article_third_outer .article_int>div div:last-child>p{
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .article_third_outer .article_int>div div:last-child>p:last-child span{
    color: #888;
    font-size: 14px;
    margin-right: 5px;
}  
 .article_third_outer .article_int>div div:last-child>p:last-child span:last-child{
    display: inline-block;
    float: right;
    color: #fb5033;
    font-size: 18px;
 }
.article_third_outer .article_int>div:last-child{
    margin-right: 0px;
}

/* 服务评分 */

.article .article_fourth{
    width: 1349px;
    margin: 0 auto;
}
.article .article_fourth .article_outer{
    width: 1180px;
    height: 200px;
    margin: 0 auto;
    margin-top: 60px;
}
 .article_fourth .article_outer .ftop{
    height: 31px;
    font-size: 24px;
    font-weight: bold;
}
.article_fourth .article_outer .fbottom{
    height: 71px;
    margin-top: 60px;

}
.article_fourth .article_outer .fbottom .left{
    width: 71px;
    height: 68px;
    float: left;

}
.article_fourth .article_outer .fbottom .left p{
    font-size: 44px;
    font-weight: bold;
    color: #fb5033;
    line-height: 100%;
}
.article_fourth .article_outer .fbottom .left span{
    display: block;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
.article_fourth .article_outer .fbottom .right{
    width: 1072px;
    height: 68px;
    float: right;

}
 .article_fourth .article_outer .fbottom .right .top{
    height: 27px;
    line-height: 27px;

} 
 .article_fourth .article_outer .fbottom .right .top div{
     float: left;
     margin-right: 40px;
 } 
.article_fourth .article_outer .fbottom .right .top div i{
    color: orangered;
}
#off{
    color: #d0d0d0;
}
.article_fourth .article_outer .fbottom .right .bottom{
        height: 27px;
        line-height: 27px;

}
.article_fourth .article_outer .fbottom .right .bottom span{
    float: left;
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ededed;
    text-align: center;
    margin-right: 12px;
    margin-top: 14px;
    font-size: 10px;
}
.article_fourth .article_outer .fbottom .right .bottom a{
    font-size: 14px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}



.article .article_fifth{
    width: 1349px;
    margin: 0 auto;
}
.article .article_fifth .article_outer{
    width: 1180px;
    height: 316px;
    margin: 0 auto;
    margin-top: 60px;
}
.article .article_fifth .article_outer p{
    font-size: 24px;
    font-weight: bold;
}
.article .article_fifth .article_outer .fiftop{
    width: 1180px;
    height: 210px;
}
.article .article_fifth .article_outer .fiftop .zhaopian{
    width: 280px;
    height: 250px;
    margin-right: 20px;
    float: left;
}
.article .article_fifth .article_outer .fiftop .zhaopian img{
    width: 280px;
    height: 210px;
}
.article .article_fifth .article_outer .fiftop .zhaopian:last-child{
    margin-right: 0px;
}
.article .article_fifth .article_outer .fiftop .zhaopian div span:first-child{
    font-size: 14px;
    color: #323942;
    width: 170px;
    display: inline-block;
}
.article .article_fifth .article_outer .fiftop .zhaopian div{
    width: 280px;
}
.article .article_fifth .article_outer .fiftop .zhaopian div span:last-child{
    font-size: 16px;
    color: #fb5033;
    float: right;
}

/* 调查哦 */
.article .article_six{
    width: 1349px;
    margin: 0 auto;
}
.article .article_six .article_outer{
    width: 1180px;
    margin: 0 auto;
}
.article .article_six .article_outer .sixtop{
    height:43px;
    border-bottom: 1px solid #e6e6e6;
}
.article .article_six .article_outer .sixtop span{
    line-height: 42px;
    font-size: 15px;
    margin-right: 36px;
    cursor: pointer;
    padding: 8px 0;
}
.article .article_six .article_outer .sixtop span:last-child{
    border-bottom: 4px solid #ffac01;
}
.article .article_six .article_outer .sixbottom{
    height: 101px;
    border-bottom: 1px solid #e6e6e6;
}
.article .article_six .article_outer .sixbottom .left{
    width: 290px;
    height: 101px;
    line-height: 101px;
    float: left;
}
.article .article_six .article_outer .sixbottom .six1{
    height:101px;
    line-height: 30px;
}
.article .article_six .article_outer .sixbottom .six1 p{
    padding-top: 20px;
}
.article .article_six .article_outer .sixbottom .six1 .six2{
    margin-top: -18px;
    font-size: 14px;
    color: #888;
}


.article_footer{
   margin-top: 43px;
   margin-bottom: 45px; 
   overflow: hidden;
   width: 1180px;
}
.article_footer div{
    float: right;
    padding: 0 12px;
    text-align: center;
    border: 1px solid #dcdcdc;
    line-height: 30px;
    height: 30px;
    margin-left: 4px;
}
.article_footer div:last-child{
    background-color: #ffa100;
    border-color: #ffa100;
}
.article_footer div:hover{
    background-color: #ffa100;
    border-color: #ffa100;
    cursor: pointer;
}